header{
    background-color: red;
    width: 100%;
}
main{
    background-color:lightblue;
    border: width 10px;
    width: 80%;
}
footer{
    text-align: center;
    background-color: mediumpurple;
    width: 100%;
}
